// COLOR VARIABLES
:root{--color-primary: #c69963;}
:root{--color-primary-dark: #B28451;}
:root{--color-secondary: #101d2c;}
:root{--color-grey-light-1: #f9f7f6;}
:root{--color-grey-light-2: #aaa;}
:root{--color-grey-dark-1: #54483A;}
:root{--color-grey-dark-2: #6D5D4B;}
:root{--color-black: #000;}

// FONT VARIABLES
:root{--font-primary: 'Nunito', sans-serif;}

:root{--font-display: 'Josefin Sans', sans-serif;}



//$75em 1200px $bp-largest
//62.5em: 62.5em; 1000px $bp-large
//53.25em: 53.25em; 850px $bp-medium
//43.75em: 700px 
//37.5em: 37.5em; 600px $bp-small
// 29em: 29em; 464px $bp-smallest


// BASE STYLES

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;

    @media screen and (max-width: 75em){
        font-size: 56.25%; // 9rem = 16px
    }
    @media screen and (max-width: 37.5em){
        font-size: 45%; // 8rem = 16px
    }
}
body{
    font-family:  'Nunito', sans-serif; 
    font-weight: 300;
    //line-height: 1.7;
    color: var(--color-grey-dark-2);
    box-sizing: border-box;
}