#widget{
    padding-top: 10rem;
}
.section__widget{
    background-color: white;
    padding: 1rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    @media screen and (max-width: 700px) {  // 700 px
      flex-direction: column;          // put items one under another
      align-items: center;             // keep them centred horizontally
    }

    
    &__h{
        text-align: center;
        font-size: 3rem;
        margin-top: 2rem;
       display: block;
       text-transform: uppercase;

    }
    &__grid{
        position: relative;
        flex: 0 0 28%;
        align-items: stretch;
        margin: 2.2rem;
        padding: 2rem 2rem;
        //text-align: justify;
        background-color: var(--color-grey-light-1);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

        @media screen and (max-width: 62.5em) {
            flex: 0 0 35%;
        }
        @media screen and (max-width: 700px) {  // 700 px
          flex: 0 0 90%;
          max-width: 90%;
          width: 90%; // ✅ ADD THIS LINE    // optional: leave a little breathing space
        }
      
        &:hover{
            transform: scale(1.01);
            transition: all 0.2s ease-in-out;
        }
    
      

        &--icon{
            height: 8rem;
            width: 6rem;
        }
        &--heading{
            font-size: 1.8rem;
            font-weight: 900;
            color: var(--color-secondary);
            margin-bottom: 1rem;
        }
        &--text{
            font-size: 1.3rem;
            color: var(--color-secondary);
            line-height: 1.5;
            margin-top: 2rem;
        }
    }
}
.card {
  position: relative;
  width: 100%;
  height: 35rem; /* You can adjust this */
  perspective: 1000px;

 
}

.card__side {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 12px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;

  
}

.card__front {
  background: white;
  z-index: 2;
}

.card__back {
  background: #f3f3f3;
  transform: rotateY(180deg);
}

.card:hover .card__front {
  transform: rotateY(180deg);
}

.card:hover .card__back {
  transform: rotateY(0deg);
  z-index: 3;
}

/* end */
